<section class="max-w-[1170px] mx-auto px-4 mt-20 mb-16">

  <div class="flex flex-col lg:flex-row lg:items-end justify-between gap-6 mb-10">
    <div class="flex flex-col md:flex-row md:items-end gap-8 lg:gap-20">
      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-4">
          <div class="w-5 h-10 bg-red-500 rounded"></div>
          <span class="text-red-500 text-base font-semibold font-['Poppins']">Today's</span>
        </div>
        <h2 class="text-black text-3xl md:text-4xl font-semibold font-['Inter'] tracking-wider">Flash Sales</h2>
      </div>

      <div class="flex items-center gap-4 md:gap-6 pb-1">
        <div class="flex flex-col">
          <span class="text-black text-xs font-medium font-['Poppins']">Days</span>
          <span class="text-black text-3xl font-bold font-['Inter'] tracking-wider">03</span>
        </div>
        <span class="text-red-400 text-2xl font-bold mb-2">:</span>
        <div class="flex flex-col">
          <span class="text-black text-xs font-medium font-['Poppins']">Hours</span>
          <span class="text-black text-3xl font-bold font-['Inter'] tracking-wider">23</span>
        </div>
        <span class="text-red-400 text-2xl font-bold mb-2">:</span>
        <div class="flex flex-col">
          <span class="text-black text-xs font-medium font-['Poppins']">Minutes</span>
          <span class="text-black text-3xl font-bold font-['Inter'] tracking-wider">19</span>
        </div>
        <span class="text-red-400 text-2xl font-bold mb-2">:</span>
        <div class="flex flex-col">
          <span class="text-black text-xs font-medium font-['Poppins']">Seconds</span>
          <span class="text-black text-3xl font-bold font-['Inter'] tracking-wider">56</span>
        </div>
      </div>
    </div>

    <div class="flex gap-2">
      <button
        class="w-[46px] h-[46px] bg-neutral-100 hover:bg-gray-200 transition-colors rounded-full flex items-center justify-center">
        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
      </button>
      <button
        class="w-[46px] h-[46px] bg-neutral-100 hover:bg-gray-200 transition-colors rounded-full flex items-center justify-center">
        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
      </button>
    </div>
  </div>