<header class="w-full h-12 bg-black flex justify-center items-center px-4 overflow-hidden">

    <div class="flex items-center justify-between w-full max-w-[1170px]">

        <div class="hidden lg:block w-20"></div>

        <div class="flex items-center gap-2">
            <p class="text-neutral-50 text-[10px] sm:text-xs md:text-sm font-['Poppins']">
                Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
            </p>
            <a href="#"
                class="text-neutral-50 text-[10px] sm:text-xs md:text-sm font-semibold underline underline-offset-4 hover:text-gray-300 transition-colors">
                ShopNow
            </a>
        </div>

        <div class="flex items-center gap-1 cursor-pointer group">
            <span class="text-neutral-50 text-xs md:text-sm font-['Poppins']">English</span>

            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.364 12.95L17.314 8L18.728 9.414L12.364 15.778L6.00003 9.414L7.41403 8L12.364 12.95Z"
                    fill="white" />
            </svg>

        </div>

    </div>
</header>